:root {
   --background-color: #fffff0;
   --color: #E5C100;
   --font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.header-image {
    background-image: url("img/cover photo.png");
    position: relative;
    width: 1440px;
    height: 585px;
}

.icon-title {
    color: var(--color);
}

.fa-desktop {
    position: relative;
}

.fa-code {
    position: absolute;
    bottom: 3px;
}

.fa-desktop::after {
    content: "Dev";
    position: absolute;
    left: 3rem;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

.skills::before {
    display: flex;
    content: "Skills";
    font-weight: bold;
    justify-content: center;
}

[class*="col-"] {
    padding: 1rem;
}